<h2>Saldo cuenta:</h2>
<section>
    <input [(ngModel)]="password" placeholder="Nueva contraseña" type="Nueva contraseña"><br>
    <input [(ngModel)]="password" placeholder="Confirmar contraseña" type="Confirmar contraseña"><br>
    <button (click)="Confirmar()" class="btn btn-primary">Confirmar</button>
</section>
<section>
    <button (click)="Salir()" class="btn">Salir</button>
    <button (click)="Contactar()" class="btn">Constactar con un gestor</button>
</section>

<!--
input nueva contraseña
input confirmar contraseña
input boton confirmar

input salir 
input contactar con un gestor-->