<!-- un comentario -->
<nav class="main-menu">
  <ul>
    <li><a routerLink="/auth/login">Inciar sesión</a></li>



    <li><a routerLink="/pages/dashboard">Inicio</a></li>
    <li class="dropdown-menu">
      Transferencias
      <ul class= "submenu">

        <li>
          <a routerLinkActive="active-menu" routerLink="/pages/new-transfer">
            Nueva transferencia
          </a>
        </li>
        <li>
          <a routerLinkActive="active-menu" routerLink="/pages/transferencias-recibidas">
            Transferencias recibidas
          </a>
        </li>
        <li>
          <a routerLinkActive="active-menu" routerLink="/pages/transferencias-enviadas">
            Transferencias enviadas
          </a>
        </li>

      </ul>
    </li>
  </ul>
</nav>
<!-- aquí se recarga el contenido al cambiar de ruta -->
<router-outlet></router-outlet>