<div class="fila-tabla cabecera-tabla">
    <div>Concepto</div>
    <div>Importe</div>
    <div>Fecha</div>
</div>
<article class="fila-tabla" *ngFor="let transferencia of transferencias">
    <div>{{ transferencia.concepto }}</div>
    <div>{{ transferencia.importe | currency:'EUR' }}</div>
    <div>{{ transferencia.fecha | date:'short' }}</div>
</article>



<!--detalles transferencia


tranferencia de : Odenante
para: Beneficiario
Inporte: xxxx.xxx.xx$
concepto[]-->


<div clas="detalle-transferencia cabecera-detalle">
    
    <div>Id Usuario</div>
    <div>Id Beneficiario</div>
    <div>Importe</div>
    <div>Concepto</div>
    <div>Fecha</div>
</div>
<div class="detalle-transferencia" *ngFor="let detallesTransferencia of transferencias">
    <div>{{ detallesTransferencia.idUsuario}}</div>
    <div>{{ detallesTransferencia.idBeneficiario}}</div>
    <div>{{ detallesTransferencia.importe | currency:'EUR' }}</div>
    <div>{{ detallesTransferencia.concepto }}</div>
    <div>{{ detallesTransferencia.fecha | date:'short' }}</div>

</div>